
----------------------------------------------------------
--- To run Pharos on fresh install of Fedora 29 ----------
--- installation instructions version 11-Jun-2019 --------
----------------------------------------------------------
--- Tested on 64-bit Fedora 29 ---------------------------

# ==============================================================================
# 1. GENERAL REQUIREMENTS
# ==============================================================================
# Pharos runs on Python 2.7.xxx which comes installed with Fedora.
# Install tcsh, GCC, gfortran, DS9 and other prerequisites as described below.
# We Recommend to install everything as root to avoid linking issues later.

# You need to have tcsh installed and set as the user default shell
dnf install tcsh

# Install gcc, fortran, and required python modules
dnf install gcc
dnf install gcc-gfortran
pip install numpy
pip install scipy
dnf install python-matplotlib
pip install astropy (might require package redhat-rpm-config to be installed
                     in which case do: pip install redhat-rpm-config and repeat
                     pip install astropy).
pip install pyregion

# ==============================================================================
# 2. DS9 VIEWER AND COMMUNICATION WITH DS9 (XPA, pyds9)
# ==============================================================================
# Download SAOimage DS9 7.1   
# (please use version 7.1 to avoid some bugs with XPA in later versions)
# can be found in http://ds9.si.edu/archive/
tar xvfz ds9.linux64.7.1.tar.gz 
sudo mv ds9 /usr/local/bin/

# Download and install XPA       : https://github.com/ericmandel/xpa
# unpack and run in XPA directory
./configure		
make			
sudo make install	
sudo make clean

# Download pyds9 from            : https://github.com/ericmandel/pyds9
dnf install libXt-devel          (required library)

#unpack pyds9 archive and run 
python setup.py install

# ==============================================================================
# 3. ZeroMQ Messaging System
# ==============================================================================
dnf install zeromq
pip install pyzmq

# ==============================================================================
# 4. CFITSIO Library
# ==============================================================================
# Download and install cfitsio library
# http://heasarc.gsfc.nasa.gov/docs/software/fitsio/fitsio.html
# unpack, cd to cfitsio dir and run as root
./configure
make
make install
make clean
# you will point to lib subdirectory of this directory where cfitsio has been installed
# when you need to compile /Pharos/Photometry/optimal.f90 below.

# ==============================================================================
# 5. Download Pharos
# ==============================================================================
# Clone the Pharos repo:
git clone https://github.com/pharosastronomy/pharos

# ==============================================================================
# 6. BARYCOR & OPPHOT installation
# ==============================================================================
# Steps below require editing for correct paths and compiler settings.
# Compile /Pharos/Timing/barycor.f90
cd ./Pharos/Timing
gfortran -o barycor barycor.f90 libjpl.a_64bit libf95.a_64bit

# Compile /Pharos/Photometry/optimal.f90 
cd .Pharos/Photometry 
# You have to edit optimal.csh for path to cfitsio library and source it
source optimal.csh

# Put barycor and optimal executables locations in your path for tcsh
echo 'set path = ($path /path-to/Pharos/Photometry /path-to/Pharos/Timing)' >> ~/.tcshrc

# ==============================================================================
# 7. Install F2N for Creating PNG images from FITS images in Python
# ==============================================================================
# Depending on your system some or all of these might need to be installed
# before installing pillow:
dnf install python-devel
dnf install zlib-devel
dnf install libjpeg-turbo-devel

# Install pillow
pip install pillow                   
                     
# Download and install f2n       
# f2n used to rely on PIL, but now you can use pillow installation above
# no need to install PIL (deprecated)
# f2n author has suggested installation using subversion (svn) if missing from
# your system you can install it:
dnf install subversion

# to install f2n:
# use root priviledges
cd .Pharos/Imaging
python setup.py install
cp .Pharos/Imaging/F2n/f2n.py_fix /usr/local/lib/python2.7/dist-packages/f2n/f2n.py

# ==============================================================================
# CONGRATULATIONS START DS9 and ENJOY PHAROS
# ==============================================================================

